{% extends 'base.html.twig' %}

{% block title %}Joueurs{% endblock %}

{% block body %}




    <table class="table" border="5" bordercolor="blue" align="center">
        <thead>
        <tr>
            <th></th>
            <th>nom</th>
            <th>prénom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.prenom }}</td>
                <td>
                    <a href="{{ path('statistique', {'id': joueur.id }) }}">Statistiques</a>
                </td>



            </tr>
        {% else %}
            <tr>
                <td colspan="3"> Joueurs non insérés encore</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

