{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}

    <table class="table" border="5" bordercolor="blue" align="center" m-t="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Joueur</th>
            <th>Numero</th>
            <th>buts</th>
            <th>Club</th>
            <th>saison</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ stat.joueur }}</td>
                <td>{{ stat.joueur.numero }}</td>
                <td>{{ stat.but }}</td>
                <td>{{ stat.club }} </td>
                <td>{{ stat.saisoon }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas encore de statistiques dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

