<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Brand/logo -->


        <!-- Links -->
        <ul class="navbar-nav">
            <li {% if app.request.get('_route') == '/' %} class="active"{% else %}class="nav-item"{% endif %}
            ><a class="nav-link" href="{{ path('club') }}">Accueil</a></li>

            <li  {% if app.request.get('_route') == 'joueur' %} class="active nav-item"{% else %}class="nav-item"{% endif %}
            ><a class="nav-link" href="{{ path('joueur') }}">Joueurs</a></li>

            <li {% if app.request.get('_route') == 'statistique' %} class="active nav-item" {% else %}class="nav-item"{% endif %}
            ><a class="nav-link" href="{{ path('statistique') }}">Statistique</a></li>




        </ul>
    </nav>


    {% block body %}{% endblock %}
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>

</html>
