{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}



{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <select id="select1">
                <option value="0">Select car:</option>
                {% for saison in saisons %}
                    <option value="{{ saison.id }}">{{ saison.annedebut }}/{{ saison.annefin }}</option>
                {% endfor %}
            </select>
        </div>
    </div>



<div id="tableAjax">

                <div class="col">
                    <h2 class="mb-0">Liste des clubs de football</h2><br>
    <table id="table" class="display responsive table table-striped " width="100%">
        <thead>

            <th>ID</th>
            <th>NOM DU CLUB </th>
            <th>Action</th>

        </thead>

        <tbody id="check">
        {% for club in clubs %}

            <tr>

                <td>{{ club.id }}</td>
                <td> {{ club.nom}}</td>

                <td>
                    <a href="{{ path('joueur', {'id': club.id }) }}">Voir les joueurs</a>
                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
                </div>
                </div>




{% endblock %}

{% block javascripts %}
        {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>



        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script>
                $(document).ready(function() {

                   // Methode qui nous permet de récupérer une saison via une requette Ajax
                                   $("#select1").on('click',function () {

                                      var clientSelector =  $(this).val();
                                      console.log(clientSelector);

                                    $.ajax({
                                         url: "{{ path('get_liste_club_by_saison') }}",
                                         type: "GET",
                                     data:   { clientSelector: clientSelector},
                                        success: function (data) {
                                             console.log(data);
                                               var table = $("#table");

                                               // Remove current options
                                                $("#tableAjax").html('');
                                            $("#tableAjax").append(data);




                                           },
                                           error: function (err) {
                                               alert("An error ocurred while loading data ...");
                                           }
                                     });

                                   });
                              });




</script>
{% endblock %}
