<table id="table" class="display responsive table table-striped " width="100%">
    <thead>

    <th>ID</th>
    <th>NOM DU CLUB </th>
    <th>Action</th>

    </thead>

    <tbody id="check">
    {% for club in clubs %}

        <tr>

            <td>{{ club.id }}</td>
            <td> {{ club.nom}}</td>

            <td>
                <a href="{{ path('joueur', {'id': club.id }) }}">Voir les joueurs</a>
            </td>

        </tr>

    {% endfor %}
    </tbody>
</table>
